@font-face {
  font-family: 'Santa';
  src: url('../../assets/font/Santa\ Unicorn.ttf');
}

@font-face {
  font-family: 'Pat';
  src: url('../../assets/font/Paterna.otf');
}

@font-face {
  font-family: "Yom";
  src: url('../../assets/font/Yomanica-Regular.otf');
}

@font-face {
  font-family: "Fyp";
  src: url('../../assets/font/FujiFantastic-Bold.otf');
}

@font-face {
  font-family: "Poppins";
  src: url('../../assets/font/Poppins-Light.ttf');
}

.HomeSection {
  height: 100vh;
  width: 100vw;
  background: var(--p);
  display: flex;
  /* overflow: hidden; */
  /* justify-content: center; */
  /* align-items: center; */
}

.Nav {
  height: 100%;
  width: 20%;
  /* border: 1px solid var(--fg); */
  display: flex;
  flex-direction: column;
  background: var(--p);
  position: fixed;
  align-items: center;
  /* transform: translateX(-100px); */
}

.Nav::after {
  content: '';
  position: absolute;
  height: 94%;
  width: 1%;
  right: 0;
  top: 3%;
  background: var(--pin);
}

.navTitle {
  width: 100%;
  height: 10%;
  /* letter-spacing: 1px; */
  display: grid;
  place-content: center;
  /* border: 1px solid var(--fg); */
  font-family: 'Fyp';
  font-size: 80px;
  color: var(--pin);
  /* filter: drop-shadow(4px 4px var(--fg)); */
}

.NameDisplay {
  width: 100%;
  height: 10%;
  /* border: 1px solid var(--fg); */
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2%;
  font-size: 50px;
  font-family: 'Fyp';
  color: var(--pin);
}

.navLink {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  list-style: none;
}

.navLink >p:nth-child(1) {
  width: 100%;
  font-family: 'Fyp';
  margin-top: 10%;
  font-size: 25px;
  text-align: center;
  color: var(--pin);
}

.navLink >li:nth-child(2) {
  width: 100%;
  font-family: 'Fyp';
  margin-top: 25%;
  font-size: 75px;
  text-align: center;
  color: var(--pin);
}

.RoomLink {
  height: 15%;
  width: 100%;
  /* border: 1px solid var(--fg); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.RoomLink > button {
  width: 35%;
  height: 40%;
}

.RoomLink > button:nth-child(1) {
  background-color: var(--pin);
  border: none;
  font-family: 'Fyp';
  font-size: 30px;
  color: var(--p);
}

.RoomLink > button:nth-child(2) {
  border: 3px solid var(--pin);
  /* border: none; */
  background: transparent;
  font-family: 'Fyp';
  font-size: 30px;
  color: var(--pin);
}

.Logout {
  height: 6%;
  width: 70%;
  font-family: 'Fyp';
  font-size: 21px;
  background: transparent;
  color: var(--pin);
  border-radius: 50px;
  border: 5px solid var(--pin);
}

.createroomcontainer {
  position: absolute;
  height: 96%;
  width: 96%;
  top: 2%;
  left: 2%;
  border-radius: 15px;
  z-index: 10;
  background: var(--bgw);
  /* transition: all 0.3s ease-in-out; */
  animation: popup 0.2s ease-in-out;
  /* border: 3px solid var(--fg); */
  /* box-shadow: 6px 6px 1px var(--fg); */
}

@keyframes popup {
  from {
    opacity: 0.5;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.CloseButton:nth-child(1) {
  /* border: 3px solid var(--pi); */
  border: none; 
  height: 55%;
  width: 7%;
  background: var(--pi);
  font-family: 'Santa';
  margin-right: 2%;
  font-size: 30px;
  /* margin: 10px; */
  color: var(--bgw);
}

.CloseButton:nth-child(2) {
  border: 3px solid var(--pi);
  /* border: none; */
  height: 55%;
  width: 7%;
  background: transparent;
  font-family: 'Santa';
  font-size: 30px;
  margin-right: 5%;
  /* margin: 10px; */
  color: var(--pi);
}

.RoomTitle {
  color: var(--pi);
  width: 98%;
  /* border: 3px solid var(--pi); */
  height: 15%;
  display: flex;
  align-items: center;
  font-family: 'Fyp';
  padding-left: 2%;
  font-size: 100px;
}

.RoomContent{
  height: 75%;
  border-bottom: 3px solid var(--pi);
  border-top:3px solid var(--pi);
  width: 100%;
}

.RoomSubmit{
  display: flex;
  justify-content: flex-end;
  height: 10%;
  width: 100%;
  align-items: center;
}

.joinroom{
  height: 15%;
  width: 100%;
  /* border: 1px solid var(--fg); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all .3s ease-in-out;
  gap: 20px;

  input{
    height: 40%;
    flex-basis: 75%;
    border: none;
    text-align: center;
    border-bottom: 2px solid var(--pin);
    color: var(--pin);
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 700;
    background: transparent;
    outline: none;
  }

  input::placeholder{
    color: var(--pin);
  }

  button{
    height: 40%;
    width: 35%;
  }

  button:nth-child(2){
    background-color: var(--pin);
    border: none;
    font-family: 'Santa';
    color: var(--p);
    font-size: 22px;
    letter-spacing: 2px;
  }

    button:nth-child(3){
    /* background-color: var(--pin); */
    border: 2px solid var(--pin);
    font-family: 'Santa';
    background: transparent;
    color: var(--pin);
    font-size: 22px;
    letter-spacing: 2px;
  }
}

.navLinkSection{
  width: 100%;
  height: 40%;
  /* border: 1px solid var(--bgw); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  gap: 30px;
  margin-top: 5%;
}

.navLinkSection li{
  font-size: 25px;
  font-family: 'Fyp';
  color: var(--pin);
}